.try {

  .spinner {
    background-image: url("../hoge.jpg");
    height: 40px;
    margin: 100px auto 100px;
    top: 20px;
    transform-origin: center center;
    width: 40px;
  }

  .item {
    bottom: .5px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin: 100px auto 100px;
    top: 20px;
    transform-origin: center center;
    width: 40px;

    &::before {
      content: "";
    }
  }

  .item + .text {
    margin: 0;
  }

  input::placeholder {
    width: 10px;
  }

  p {
    font-size: 10px;
  }
}
