.try {
  .spinner {
    height: 40px;
    margin: 100px auto 100px;
    top: 20px;
    transform-origin: center center;
    width: 40px;
  }

  .item {
    height: 40px;
    margin: 100px auto 100px;
    top: 20px;
    transform-origin: center center;
    width: 40px;
  }
}
